<div class="modal fade" id="couponListModal" tabindex="-1" role="dialog"  data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">公告详情</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="announcementName" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>公告标题：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="announcementName" id="announcementName" style="width:90%" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="announcementInfo" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>公告描述：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3 input-block-level">
                        <textarea class="form-control" name="announcementInfo" id="announcementInfo" rows="6" cols="9" style="width:90%"
                                  readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="createdBy" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>发布人：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="createdBy" id="createdBy" style="width:90%" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="createDate" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>发布日期：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="createDate" id="createDate" style="width:90%" readonly/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true" style="color: rgb(34, 126, 255);">确定</span>
                </button>
            </div>
        </div>
    </div>
</div>