<div class="modal fade" id="bussinessDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">企业详情</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="businessName" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>企业名称：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="businessName" id="businessName" style="width:90%" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="businessDescription" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>企业描述：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3 input-block-level">
                        <textarea class="form-control" name="businessDescription" id="businessDescription" rows="6" cols="9" style="width:90%"
                                  readonly></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true" style="color: rgb(36, 218, 255); font-size: 13px;">确定</span>
                </button>
            </div>
        </div>
    </div>
</div>