<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>8款超赞的jQuery评分插件</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="../../static/starCss/main.css">
    <link rel="stylesheet" href="../../static/starCss/examples.css">
    <!--[if lt IE 9]>
    <script src="../../static/starJs/vendor/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<section class="section section-examples">
    <div class="examples">
        <div class="col">
            <div class="box box-blue">
                <div class="box-header">Example F</div>
                <div class="box-body">
                    <select id="example-f" name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script src="../../static/starJs/vendor/jquery-1.11.2.min.js"></script>
<script src="../../static/starJs/jquery.barrating.js"></script>
<script src="../../static/starJs/examples.js"></script>
</body>
</html>
