<!DOCTYPE html>
<!--[if lt IE 7]>

<html class="lt-ie9 lt-ie8 lt-ie7" lang="en">

<![endif]-->
<!--[if IE 7]>

<html class="lt-ie9 lt-ie8" lang="en">

<![endif]-->
<!--[if IE 8]>

<html class="lt-ie9" lang="en">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html lang="en">

<!--
<![endif]-->
<head>
    <meta charset="utf-8">
    <title>
        Blue Moon - Responsive Admin Dashboard
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>

    <script type="text/javascript" src="../../static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/pagination.min.js"></script>
    <script type="text/javascript" src="../../static/js/toastr.min.js"></script>

    <link href="../../static/css/jqueryui.css" rel="stylesheet" type="text/css" />
    <!--<link href="../../static/js/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
    <link href="../../static/css/pagination.css" rel="stylesheet">
    <link href="../../static/icomoon/style.css" rel="stylesheet">
    <link href="../../static/css/toastr.css" rel="stylesheet" type="text/css"/>

    <!--[if lte IE 7]>
    <script src="../../static/css/icomoon-font/lte-ie7.js">
    </script>
    <![endif]-->
    <link href="../../static/css/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet">
    <link href="../../static/css/wysiwyg/wysiwyg-color.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet"> <!-- Important. For Theming change primary-color variable in main.css  -->
    <link href="../../static/css/charts-graphs.css" rel="stylesheet">
</head>
<body style="background-image: url(../../static/images/jloginbg04.jpg);">
<header style="background-image: url(../../static/images/jloginbg04.jpg);background-size:10000px 10000px">
    <a href="#" class="logo">
        <img src="../../static/images/jlogosmall.png" width="70" height="90" alt="logo"/>
        <span class="mini-title" style="display: inline-block;"><a id="mailbox" style="font-size:30px; line-height:70px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎登陆大学生兼职网</a></span>
    </a>
    <div class="btn-group" id = "welcomeLogin"></div>
    <script type="text/javascript" src="../../static/myJs/welcomeLogin.js"></script>

</header>
<div class="container-fluid">
    <div class="dashboard-container">
        <div class="top-nav">
            <ul>
                <li>
                    <a href="index.html" class="selected">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
                        我的应用
                    </a>
                </li>
                <li>
                    <a href="forms.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
                        找兼职
                    </a>
                </li>
                <li hidden>
                    <a href="icons.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>
                        推荐我的
                    </a>
                </li>
                <li>
                    <a href="graphs.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                        我的投递
                    </a>
                </li>
                <li>
                    <a href="ui-elements.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
                        我的评价
                    </a>
                </li>
                <li>
                    <a href="tables.html">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
                        个人信息
                    </a>
                </li>
            </ul>
            <div class="clearfix">
            </div>
        </div>
        <div class="btn-group pull-right">
            <button class="btn btn-primary">
                Main Menu
            </button>
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
              <span class="caret">
              </span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="index.html" data-original-title="">
                        我的应用
                    </a>
                </li>
                <li>
                    <a href="forms.html" data-original-title="">
                        找兼职
                    </a>
                </li>
                <li>
                    <a href="graphs.html" data-original-title="">
                        我的投递
                    </a>
                </li>
                <li>
                    <a href="ui-elements.html" data-original-title="">
                        我的评价
                    </a>
                </li>
                <li>
                    <a href="tables.html" data-original-title="">
                        个人信息
                    </a>
                </li>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashboard-wrapper">

        <div class="left-sidebar">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title pull-left">
                                找兼职</div>
                            <div class="pull-left" style="display: inline-block; vertical-align: middle;">
                                <div class="row">
                                    <div class="table-responsive">
                                        <div id="toolbar" style="padding-left: 50px">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label for="searchJonType" class="col-sm-3 control-label" style="display: inline-block;font-size:15px">&nbsp;&nbsp;&nbsp;兼职类型：</label>
                                                    <div class="col-sm-6" style="display: inline-block">
                                                        <input type="text" class="form-control input-lg" name="searchJonType" id="searchJonType"
                                                               placeholder="请输入兼职类型">&nbsp;&nbsp;&nbsp;
                                                        <button type="button" class="btn btn-primary queryButton" onclick="loadData(0,10)">查询</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <table id="table" ></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="mail">
                                <table class="table table-condensed table-striped table-hover no-margin">
                                    <thead>
                                    <tr>
                                        <th hidden>
                                            id
                                        </th>
                                        <th style="width:10% text-align:center">
                                            兼职类型
                                        </th>
                                        <th style="width:20% text-align:center" class="hidden-phone">
                                            招聘人数
                                        </th>
                                        <th style="width:25% text-align:center">
                                            工作地点
                                        </th>
                                        <th style="width:30% text-align:center" class="hidden-phone">
                                            发布时间
                                        </th>
                                        <th style="width:15% text-align:center" class="hidden-phone">
                                            操作
                                        </th>
                                    </tr>
                                    </thead>
                                    <!--兼职信息-->
                                    <tbody id = "counpBody">
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination" id="pagination" style="float: left">

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row-fluid">
                <div class="span6">
                </div>
            </div>
            <div class="row-fluid">
            </div>
        </div>
        <div class="right-sidebar">
            <div class="wrapper">
            </div>
            <div class="wrapper">
                <div id="scrollbar">
                    <div class="scrollbar">
                        <div class="track">
                            <div class="thumb">
                                <div class="end">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="viewport" style="height: 370px;">
                        <div class="overview">
                            <div class="featured-articles-container">
                                <h5 class="heading" onclick="alertA()">
                                    公告信息
                                </h5>
                                <div class="articles" style="height: 500px" id="articles">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--点击某条公告弹框-->
<div id="couponList"></div>
<script type="text/javascript" src="../../static/myJs/announcementDialog.js"></script>
<!--/.fluid-container-->
</div>



<script type="text/javascript">
    $("#welcomeLogin").load("jump?html_url=index/welcomeLogin");
    $("#couponList").load("jump?html_url=dialog/announcementDialog");
    <!--$("#welcomeLogin").load("../../templates/index/welcomeLogin.html")-->
    $(function(){
        loadData(0, 10, 0);
        welcomeLogin();
        loadAnnouncement();
    });

    //分页初始化
    $("#pagination").whjPaging({
        //可选，css设置，可设置值：css-1，css-2，css-3，css-4，css-5，默认css-1，可自定义样式
        css: 'css-1',
        //可选，每页条数下拉框，5条/页(默认)、10条/页、15条/页
        pageSizeOpt: [
            {value: 5, text: '5条/页', selected: true},
            {value: 10, text: '10条/页'},
            {value: 15, text: '15条/页'}
        ],
        //可选，总条数
        totalSize: 10,
        //可选，总页数
        totalPage: 2,
        //可选，展示页码数量，默认5个页码数量
        showPageNum: 5,
        //可选，首页按钮展示文本，默认显示文本为首页
        firstPage: "首页",
        //可选，上一页按钮展示文本，默认显示文本为上一页
        previousPage: "上一页",
        //可选，下一页按钮展示文本，默认显示文本为下一页
        nextPage: "下一页",
        //可选，尾页按钮展示文本，默认显示文本为尾页
        lastPage: "尾页",
        //可选，跳至展示文本，默认显示文本为跳至
        skip: "跳至",
        //可选，确认按钮展示文本，默认显示文本为确认
        confirm: "确认",
        //可选，刷新按钮展示文本，默认显示文本为刷新
        refresh: "刷新",
        //可选，共{}页展示文本，默认显示文本为共{}页，其中{}会在js具体转化为数字
        totalPageText: "共{}页",
        //可选，共{}条记录展示文本，默认显示文本为共{}条记录，其中{}会在js具体转化为数字
        totalSizeText: "共{}条记录",
        //可选，是否展示首页与尾页，默认true
        isShowFL: true,
        //可选，是否展示每页条数下拉框，默认true，如果设置显示，总条数必须设置
        isShowPageSizeOpt: false,
        //可选，是否展示跳到指定页数，默认true
        isShowSkip: false,
        //可选，是否展示刷新，默认true
        isShowRefresh: true,
        //可选，是否展示共{}页，默认true
        isShowTotalPage: true,
        //可选，是否展示共{}条记录，默认true
        isShowTotalSize: true,
        //可选，是否需要重新设置当前页码、总页数及总条数，默认false，如果设为true，那么在请求服务器返回数据时，需要调用setPage方法
        isResetPage: false,
        //必选，回掉函数，返回参数：第一个参数为页码，第二个参数为每页显示N条
        callBack: function (currPage, pageSize) {
            loadData(currPage, pageSize,1);
        }
    });


    function loadData(currPage, pageSize, flag) {
        var searchJonType = $("#searchJonType").val();
        debugger
        var pageNum = 0;
        if(flag == 0){
            pageNum = 0;
            pageSize = 10;
        }else {
            pageSize = 10;
            pageNum = currPage;
        }
        //处理数据
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            dataType: "json",
            url: "http://localhost:8088/recruitinfo/getall?recruitinfo=" + searchJonType + "&pageNum="+ pageNum +"&pageSize=" + pageSize,
            success: function (data){
                debugger
                if(data.list.length > 0) {
                    $("#counpBody").html("");
                    for (var i = 0; i < data.list.length; i++) {//默认显示第一页10个记录
                        var id = data.list[i].id == null ? "" : data.list[i].id;
                        var recruitType = data.list[i].recruitType == null ? "" : data.list[i].recruitType;
                        var recruitNum = data.list[i].recruitNum == null ? "" : data.list[i].recruitNum;
                        var createDate = data.list[i].createDate == null ? "" : formatTime(data.list[i].createDate);
                        var taskPlace = data.list[i].taskPlace == null ? "" : data.list[i].taskPlace;
                        var html = $("#counpBody").html();
                        html = '<tr> <td style="display:none">@id</td>' +
                            '<td>@recruitType</td>' +
                            '<td class="hidden-phone"><strong>@recruitNum</strong></td>' +
                            '<td class="hidden-phone">@taskPlace</td>' +
                            '<td class="hidden-phone">@createDate</td>' +
                            '<td class="hidden-phone"><span class = "lookInfo"'+
                            'style = "color:#00F;text-decoration:underline;cursor:pointer" onclick="lookInfo(@id)">查看详情</span></td></tr>'

                        html = html.replace(/@id/g, id);
                        html = html.replace(/@recruitType/g, recruitType);
                        html = html.replace(/@recruitNum/g, recruitNum);
                        html = html.replace(/@taskPlace/g, taskPlace);
                        html = html.replace(/@createDate/g, createDate);
                        $("#counpBody").append(html);
                    }
                    $("#pagination").whjPaging("setPage", {currPage: data.pageNum, totalPage: data.pages, totalSize: data.total});
                }else{
                    $("#pagination").whjPaging("setPage", {currPage: data.pageNum, totalPage: data.pages, totalSize: data.total});
                    $("#counpBody").html("");
                    var html = "<h5 style='text-align: center'>没有更多数据了！</h5>";
                    $("#counpBody").append(html);
                }
            },
        });
    }

    // 加载公告信息
    function loadAnnouncement(){
        //处理数据
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            dataType: "json",
            url: "http://localhost:8088/announcementinfo/getall?flag=true&pageNum=0&pageSize=10",
            success: function (data){
                debugger
                if(data.list.length > 0) {
                    $("#articles").html("");
                    for (var i = 0; i < data.list.length; i++) {//默认显示第一页10个记录
                        var id = data.list[i].id == null ? "" : data.list[i].id;
                        var announcementName = data.list[i].announcementName == null ? "" : data.list[i].announcementName;
                        var html = $("#articles").html();
                        html = '<a onclick="announceInfoClick(@id)">'+
                            '<span class="label-bullet">&nbsp;</span>@announcementName'+
                            '</a>'
                        html = html.replace(/@id/g, id);
                        html = html.replace(/@announcementName/g, announcementName);
                        $("#articles").append(html);
                    }
                }else{
                    $("#articles").html("");
                    var html = "<h5 style='text-align: center'>当前没有公告！</h5>";
                    $("#articles").append(html);
                }
            },
        });
    };

    //进入招聘信息详情页
    function lookInfo(id) {
        window.location.href="/public/util/jump?html_url=index/studentDetailInfo&id=" +id;
    };



    //格式化日期
    function formatTime(date){
        var millis = new Date().getTime();
        var date1 = new Date(date);
        return date1.getFullYear() + '.' +
            ( ( date1.getMonth() + 1 ) < 10 ? '0' + ( date1.getMonth() + 1 ) : ( date1.getMonth() + 1 ) ) + '.' +
            ( date1.getDate() < 10 ? '0' + date1.getDate() : date1.getDate() );
    }


</script>
</body>
<script type="text/javascript" src="../../static/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</html>