<!DOCTYPE html>
<!--[if lt IE 7]>

<html class="lt-ie9 lt-ie8 lt-ie7" lang="en">

<![endif]-->
<!--[if IE 7]>

<html class="lt-ie9 lt-ie8" lang="en">

<![endif]-->
<!--[if IE 8]>

<html class="lt-ie9" lang="en">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html lang="en">

<!--
<![endif]-->
<head>
  <meta charset="utf-8">
  <title>
    Blue Moon - Responsive Admin Dashboard
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../../static/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <link href="../../static/css/jqueryui.css" rel="stylesheet" type="text/css" />
  <!--<link href="../../static/js/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
  <link href="../../static/icomoon/style.css" rel="stylesheet">
  <!--[if lte IE 7]>
  <script src="../../static/css/icomoon-font/lte-ie7.js">
  </script>
  <![endif]-->
  <link href="../../static/css/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet">
  <link href="../../static/css/wysiwyg/wysiwyg-color.css" rel="stylesheet">
  <link href="../../static/css/main.css" rel="stylesheet"> <!-- Important. For Theming change primary-color variable in main.css  -->
  <link href="../../static/css/charts-graphs.css" rel="stylesheet">
</head>
<body style="background-image: url(../../static/images/jloginbg04.jpg);">
<header style="background-image: url(../../static/images/jloginbg04.jpg);background-size:10000px 10000px">
  <a href="#" class="logo">
    <img src="../../static/images/jlogosmall.png" width="70" height="90" alt="logo" />
    <span class="mini-title" style="display: inline-block;"><a id="mailbox" style="font-size:30px; line-height:70px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎登陆大学生兼职网</a></span>
  </a>
  <div class="btn-group">
    <button class="btn btn-primary">
      欢迎程路
    </button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
          <span class="caret">
          </span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li>
        <a href="#">
          修改个人信息
        </a>
      </li>
      <li>
        <a href="#">
          切换账号
        </a>
      </li>
      <li>
        <a href="#">
          退出
        </a>
      </li>
    </ul>
  </div>
</header>
<div class="container-fluid">
  <div class="dashboard-container">
    <div class="top-nav">
      <ul>
        <li>
          <a href="index.html" class="selected">
            <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
            我的应用
          </a>
        </li>
        <li>
          <a href="forms.html">
            <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
            找兼职
          </a>
        </li>
        <li>
          <a href="graphs.html">
            <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
            我的投递
          </a>
        </li>
        <li>
          <a href="ui-elements.html">
            <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
            我的评价
          </a>
        </li>
        <li>
          <a href="tables.html">
            <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
            个人信息
          </a>
        </li>
      </ul>
      <div class="clearfix">
      </div>
    </div>
    <div class="sub-nav">
      <ul>
        <li><a href="" class="heading">我的应用</a></li>
        <li>
          <a href="#mailbox">
            找兼职
          </a>
        </li>
        <li>
          <a href="#todo">
            看投递
          </a>
        </li>
        <li>
          <a href="#chats">
            评价
          </a>
        </li>
        <li>
          <a href="#notifications">
            个人信息
          </a>
        </li>
      </ul>
      <div class="btn-group pull-right">
        <button class="btn btn-primary">
          Main Menu
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
              <span class="caret">
              </span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="index.html" data-original-title="">
              我的应用
            </a>
          </li>
          <li>
            <a href="forms.html" data-original-title="">
              找兼职
            </a>
          </li>
          <li>
            <a href="graphs.html" data-original-title="">
              我的投递
            </a>
          </li>
          <li>
            <a href="ui-elements.html" data-original-title="">
              我的评价
            </a>
          </li>
          <li>
            <a href="tables.html" data-original-title="">
              个人信息
            </a>
          </li>
          </li>
        </ul>
      </div>
    </div>
    <div class="dashboard-wrapper">

      <div class="left-sidebar">
        <div class="row-fluid">
          <div class="span12">
            <div class="widget">
              <div class="widget-header">
                <div class="title pull-left">
                  找兼职</div>
                <div class="pull-left" style="display: inline-block; vertical-align: middle;">
                  <div class="row">
                    <div class="table-responsive">
                      <div id="toolbar" style="padding-left: 50px">
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="accountname" class="col-sm-3 control-label" style="display: inline-block;font-size:15px">&nbsp;&nbsp;&nbsp;兼职类型：</label>
                            <div class="col-sm-6" style="display: inline-block">
                              <input type="text" class="form-control input-lg" name="accountname" id="accountname"
                                     placeholder="请输入兼职类型">&nbsp;&nbsp;&nbsp;
                              <button type="button" class="btn btn-primary queryButton">查询</button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <table id="table" ></table>
                    </div>
                  </div>
                </div>

                <div class="tools pull-right">
                  <div class="btn-group">
                    <a class="btn btn-small">
                      <i class="icon-trash" data-original-title="Delete">
                      </i>
                    </a>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-small">最新
                      <!--<i class="icon-folder-close"  data-original-title="Move to">-->
                      <!--</i>-->
                    </a>
                    <a class="btn btn-small">最热
                    </a>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-small">
                      <i class="icon-chevron-left" data-original-title="Prev">
                      </i>
                    </a>
                    <a class="btn btn-small btn-info" >
                      <i class="icon-chevron-right icon-white" data-original-title="Next">
                      </i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="widget-body">
                <div class="mail">
                  <table class="table table-condensed table-striped table-hover no-margin">
                    <thead>
                    <tr>
                      <th style="width:3%">
                        <input type="checkbox" class="no-margin">
                      </th>
                      <th style="width:20%">
                        兼职类型
                      </th>
                      <th style="width:20%" class="hidden-phone">
                        商家名称
                      </th>
                      <th style="width:10%" class="hidden-phone">
                        招聘人数
                      </th>
                      <th style="width:20%" class="right-align-text hidden-phone">
                        评价
                      </th>
                      <th style="width:30%" class="right-align-text hidden-phone">
                        发布时间
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <input type="checkbox" class="no-margin">
                      </td>
                      <td>
                        商店零售
                      </td>
                      <td class="hidden-phone">
                        <strong>
                          01小超市
                        </strong>
                      </td>
                      <td>
                        4
                      </td>
                      <td class="right-align-text hidden-phone">
                              <span class="label label label-info">
                                中评
                              </span>
                      </td>
                      <td class="right-align-text hidden-phone">
                        2019-04-06
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox" class="no-margin">
                      </td>
                      <td>
                        商店零售
                      </td>
                      <td class="hidden-phone">
                        <strong>
                          02小超市
                        </strong>
                      </td>
                      <td>
                        4
                      </td>
                      <td class="right-align-text hidden-phone">
                              <span class="label label label-success">
                                好评
                              </span>
                      </td>
                      <td class="right-align-text hidden-phone">
                        2019-04-06
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox" class="no-margin">
                      </td>
                      <td>
                        商店零售
                      </td>
                      <td class="hidden-phone">
                        <strong>
                          03小超市
                        </strong>
                      </td>
                      <td>
                        4
                      </td>
                      <td class="right-align-text hidden-phone">
                              <span class="label label">
                                差评
                              </span>
                      </td>
                      <td class="right-align-text hidden-phone">
                        2019-04-06
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox" class="no-margin">
                      </td>
                      <td>
                        商店零售
                      </td>
                      <td class="hidden-phone">
                        <strong>
                          04小超市
                        </strong>
                      </td>
                      <td>
                        4
                      </td>
                      <td class="right-align-text hidden-phone">
                              <span class="label label label-info">
                                中评
                              </span>
                      </td>
                      <td class="right-align-text hidden-phone">
                        2019-04-05
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox" class="no-margin">
                      </td>
                      <td>
                        商店零售
                      </td>
                      <td class="hidden-phone">
                        <strong>
                          05小超市
                        </strong>
                      </td>
                      <td>
                        4
                      </td>
                      <td class="right-align-text hidden-phone">
                              <span class="label label label-success">
                                好评
                              </span>
                      </td>
                      <td class="right-align-text hidden-phone">
                        2019-04-05
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox" class="no-margin">
                      </td>
                      <td>
                        商店零售
                      </td>
                      <td class="hidden-phone">
                        <strong>
                          06小超市
                        </strong>
                      </td>
                      <td>
                        4
                      </td>
                      <td class="right-align-text hidden-phone">
                              <span class="label label">
                                差评
                              </span>
                      </td>
                      <td class="right-align-text hidden-phone">
                        2019-04-05
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox" class="no-margin">
                      </td>
                      <td>
                        商店零售
                      </td>
                      <td class="hidden-phone">
                        <strong>
                          07小超市
                        </strong>
                      </td>
                      <td>
                        4
                      </td>
                      <td class="right-align-text hidden-phone">
                              <span class="label label label-info">
                                中评
                              </span>
                      </td>
                      <td class="right-align-text hidden-phone">
                        2019-04-05
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="row-fluid">
          <div class="span6">
          </div>
        </div>
        <div class="row-fluid">
        </div>
      </div>
      <div class="right-sidebar">
        <div class="wrapper">
        </div>
        <div class="wrapper">
          <div id="scrollbar">
            <div class="scrollbar">
              <div class="track">
                <div class="thumb">
                  <div class="end">
                  </div>
                </div>
              </div>
            </div>
            <div class="viewport">
              <div class="overview">
                <div class="featured-articles-container">
                  <h5 class="heading">
                    公告信息
                  </h5>
                  <div class="articles" style="height: 500px">
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      01商家发布的招聘信息被禁用
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      大家积极评价工作
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      02商家
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      03商家
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      04商家
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      05商家
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      06商家刚刚发布招聘信息广泛好评
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      07商家
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Portals technologies
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Collaborative innovate
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      B2B plug and play
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Need some interesting
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Portals technologies
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Collaborative innovate
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Portals technologies
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Collaborative innovate
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      B2B plug and play
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Need some interesting
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Portals technologies
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Collaborative innovate
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Need some interesting
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Portals technologies
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Collaborative innovate
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      B2B plug and play
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Need some interesting
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Portals technologies
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Collaborative innovate
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Portals technologies
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Collaborative innovate
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      B2B plug and play
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Need some interesting
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Portals technologies
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Collaborative innovate
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                    <a href="#">
                          <span class="label-bullet">
                            &nbsp;
                          </span>
                      Mashups experiences plug
                    </a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!--/.fluid-container-->
</div>
<footer>
  <p>
    &copy; baswaAdmin 2014
  </p>
</footer>

<script src="js/wysiwyg/wysihtml5-0.3.0.js">
</script>
<script src="js/jquery.min.js">
</script>
<script src="js/bootstrap.js">
</script>
<script src="js/wysiwyg/bootstrap-wysihtml5.js">
</script>
<script src="js/jquery.scrollUp.js">
</script>


<!-- Google Visualization JS -->


<!-- Easy Pie Chart JS -->
<script src="js/jquery.easy-pie-chart.js">
</script>

<!-- Sparkline JS -->
<script src="js/jquery.sparkline.js">
</script>

<!-- Tiny Scrollbar JS -->
<script src="js/tiny-scrollbar.js">
</script>



<script type="text/javascript">
    //ScrollUp
    $(function () {
        $.scrollUp({
            scrollName: 'scrollUp', // Element ID
            topDistance: '300', // Distance from top before showing element (px)
            topSpeed: 300, // Speed back to top (ms)
            animation: 'fade', // Fade, slide, none
            animationInSpeed: 400, // Animation in speed (ms)
            animationOutSpeed: 400, // Animation out speed (ms)
            scrollText: 'Scroll to top', // Text for element
            activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
    });

    //Google Visualiations
    google.load("visualization", "1", {
        packages: ["corechart"]
    });
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Week', 'Visitors', 'Orders'],
            ['Sun', 9709, 761],
            ['Mon', 1367, 8631],
            ['Tue', 6792, 971],
            ['Wed', 1267, 7491],
            ['Thu', 9539, 1792],
            ['Fri', 670, 9367],
            ['Sat', 9761, 709]
        ]);

        var options = {
            width: 'auto',
            height: '160',
            backgroundColor: 'transparent',
            colors: ['#ed6d49', '#0daed3'],
            tooltip: {
                textStyle: {
                    color: '#666666',
                    fontSize: 11
                },
                showColorCode: true
            },
            legend: {
                textStyle: {
                    color: 'black',
                    fontSize: 12
                }
            },
            chartArea: {
                left: 100,
                top: 10
            },
            focusTarget: 'category',
            hAxis: {
                textStyle: {
                    color: 'black',
                    fontSize: 12
                }
            },
            vAxis: {
                textStyle: {
                    color: 'black',
                    fontSize: 12
                }
            },
            pointSize: 6,
            chartArea: {
                left: 60,
                top: 10,
                height: '80%'
            },
            lineWidth: 1,
        };

        var chart = new google.visualization.LineChart(document.getElementById('area_chart'));
        chart.draw(data, options);
    }


    //Tooltip
    $('a').tooltip('hide');
    $('i').tooltip('hide');


    //Tiny Scrollbar
    $('#scrollbar').tinyscrollbar();
    $('#scrollbar-one').tinyscrollbar();
    $('#scrollbar-two').tinyscrollbar();
    $('#scrollbar-three').tinyscrollbar();



    //Tabs
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })

    // SparkLine Graphs-Charts
    $(function () {
        $('#unique-visitors').sparkline('html', {
            type: 'bar',
            barColor: '#ed6d49',
            barWidth: 6,
            height: 30,
        });
        $('#monthly-sales').sparkline('html', {
            type: 'bar',
            barColor: '#74b749',
            barWidth: 6,
            height: 30,
        });
        $('#current-balance').sparkline('html', {
            type: 'bar',
            barColor: '#ffb400',
            barWidth: 6,
            height: 30,
        });
        $('#registrations').sparkline('html', {
            type: 'bar',
            barColor: '#0daed3',
            barWidth: 6,
            height: 30,
        });
        $('#site-visits').sparkline('html', {
            type: 'bar',
            barColor: '#f63131',
            barWidth: 6,
            height: 30,
        });
    });
    $('#wysiwyg').wysihtml5();
</script>
</body>
</html>