
<div class="btn-group">
    <span class="welcomeSpan" id="welcomeSpan">
    </span>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
      <span class="caret">
      </span>
    </button>
    <ul class="dropdown-menu pull-right">
        <li>
            <a onclick="editPersonInfoClick()">
                <span>修改个人信息</span>
            </a>
        </li>
        <li>
            <a onclick="logoutClick()">
                <span>退出</span>
            </a>
        </li>
    </ul>
</div>
</div>
