<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>大学生兼职网</title>
    <link href="css/jqueryui.css" rel="stylesheet" type="text/css" />
    <link href="css/vjpublic.css" rel="stylesheet" type="text/css" />
    <link href="css/vjpage.css" rel="stylesheet" type="text/css" />
    <link href="css/config.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/public.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/checkbox.js"></script>
    <script type="text/javascript" src="page1.js"></script>
</head>
<body data-curpagename="page1" class="body_style1" style="background-image: url(images/jloginbg04.jpg); background-repeat: repeat-y; background-size: cover;">
<div id="page1_jPanel1" class="Panel Panel_Null">
    <div id="page1_jHtmlForm1_form">
        <form id="page1_jHtmlForm1" name="page1_jHtmlForm1" method="post" action="">
            <div id="page1_jButton1" class="vjbutton border_radius_3 vjbutton_c_style4" tabindex="4"><div class="vjbutton_txtR">登录</div></div>
            <div id="page1_jButton2" class="vjbutton vjbutton_c_style1 btn_font2 border_radius_3" tabindex="5"><div class="vjbutton_txtR">注册</div></div>
            <div id="page1_jPanel2" class="Panel Panel_Null border_radius_5">
                <div id="page1_jLabel2" class="text">用户名：</div>
                <input type="text" class="Edit Edit_style1" value="" id="page1_jEdit1" tabindex="1"/></div>
            <div id="page1_jPanel3" class="Panel Panel_Null border_radius_5">
                <div id="page1_jLabel7" class="text">密　码：</div>
                <input type="password" class="Edit Edit_style4" value="" id="page1_jEdit2" tabindex="2"/></div>
            <div id="page1_jPanel4" class="Panel Panel_Null border_radius_5">
                <div class="checkbox_style3 checkbox" id="page1_jCheckBox1" tabindex="3"><input id="check_page1_jCheckBox1" type="checkbox"><div class="checkbox_label" id="check_page1_jCheckBox1_l"><span><div class="cate-1">否</div><div class="cate-2">是</div></span></div></div>
                <div id="page1_jLabel1" class="text">记住密码：</div></div>	</form>
    </div>

    <div id="page1_jLabel5" class="text">用户登录</div>
    <div id="page1_jLabel6" class="text">LOGIN IN</div></div>
<div id="page1_jPanel5" class="Panel Panel_Null">
    <div id="page1_jLabel3" class="text">大学生兼职网</div>
    <div id="page1_jImages1" class="Timage Timage_style1 Timage_auto"><img src="images/jlogosmall.png" alt="images/jlogosmall.png" title=""/></div>
    <map name="page1_jImages1_map" id="page1_jImages1_map">
    </map>
    <div id="page1_jLabel4" class="text">你的未来不是梦</div></div>

</body>
<script type="text/javascript" src="js/Timage.js"></script>
</html>
