<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>登录界面</title>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/public.js"></script>
	<script type="text/javascript" src="../static/js/checkbox.js"></script>
	<script type="text/javascript" src="../static/page1.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.SuperSlide.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-3.3.7-dist/bootstrapValidator.js"></script>
	<script type="text/javascript" src="../static/js/jquery-form-v3.51.0.min.js"></script>
	<script type="text/javascript" src="../static/js/toastr.min.js"></script>
	<link href="../static/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/config.css" rel="stylesheet" type="text/css" />
	<link href="../static/js/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/toastr.css" rel="stylesheet" type="text/css" />

</head>
<body data-curpagename="page1" class="body_style1" style="background-image: url(static/images/jloginbg04.jpg); background-repeat: repeat-y; background-size: cover;">
<div id="page1_jPanel1" class="Panel Panel_Null">
	<div id="page1_jHtmlForm1_form">
		<form id="page1_jHtmlForm1" name="page1_jHtmlForm1" method="post" action="">
			<div id="page1_jButton1" class="vjbutton border_radius_3 vjbutton_c_style4" tabindex="4" ><div class="vjbutton_txtR" id="login" style="width:30px;height:28px">登录</div></div>
			<div id="page1_jButton2" class="vjbutton vjbutton_c_style1 btn_font2 border_radius_3" tabindex="5"><div class="vjbutton_txtR" id="register" style="width:30px;height:28px">注册</div></div>
			<div id="page1_jPanel2" class="Panel Panel_Null border_radius_5">
				<div id="page1_jLabel2" class="text">用户名：</div>
				<input type="text" class="Edit Edit_style1 page1_jEdit1" value="" id="accountname" tabindex="1" style="width:250px;height:28px"/></div>
			<div id="page1_jPanel3" class="Panel Panel_Null border_radius_5">
				<div id="page1_jLabel7" class="text">密　码：</div>
				<input type="password" class="Edit Edit_style4 page1_jEdit2" value="" id="password" tabindex="2" style="width:250px;height:28px"/></div>
		</form>
	</div>

	<div id="page1_jLabel5" class="text">用户登录</div>
	<div id="page1_jLabel6" class="text">LOGIN IN</div></div>
    <div id="page1_jPanel5" class="Panel Panel_Null">
	<div id="page1_jLabel3" class="text">大学生兼职网</div>
	<div id="page1_jImages1" class="Timage Timage_style1 Timage_auto"><img src="static/images/jlogosmall.png" alt="static/images/jlogosmall.png" title=""/></div>
	<map name="page1_jImages1_map" id="page1_jImages1_map">
	</map>
	<div id="page1_jLabel4" class="text">你的未来不是梦</div></div>
</div>
<!-- 注册选择弹窗   longhua.wang -->
<div class="modal fade" id="couponList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">请选择注册类型</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input type="radio" name="registerType" value = "1" checked>
					<label style="font-size:17px">学生注册</label>
				</div>
				<div class="form-group">
					<input type="radio" name="registerType" value = "2">
					<label style="font-size:17px">商家注册</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消</button>
				<button type="button" id="btn_ok" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确认</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
        $('#register').click(function () {
            $("#couponList").modal({
                show: true
            })
        });
        //根据选择跳转相应注册界面
        $('#btn_ok').click(function () {
            var registerType = $("input[name='registerType']:checked").val();
            //var registerType = $("#registerType").val();
            if (registerType == 1) {
                window.location.href = "/public/util/jump?html_url=register&registerType=1";
            } else {
                window.location.href = "/public/util/jump?html_url=businessRegister&registerType=2";
            }

        })
        $('#login').click(function () {
            var accountname = $('#accountname').val();
            var password = $('#password').val();
            if(accountname == '' || accountname == undefined) {
                toastr.warning('请输入用户名');
                return false;
            }else if(password == '' || password == undefined){
                toastr.warning('请输入密码');
                return false;
            }
            var arr = {
                "accountname": accountname,
                "password": password
            };
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                dataType: "json",
                url: "account/login",
                data: JSON.stringify(arr),
                success: function (data){
                    debugger
                    if(data.code != "000001" ){
                        toastr.error(data.message);
                        return false;
					}
					//商家登录
					if(data.datas.role == "2" && data.datas.accessStatus == "禁用"){
                        toastr.error("您当前注册还没有审批通过，请查收邮箱内容");
                        return false;
					}
					//学生
					if(data.datas.role == "1"){
                        window.location.href = "/public/util/jump?html_url=index/studentIndex";
					}
                    //商家
                    if(data.datas.role == "2"){
                        window.location.href = "/public/util/jump?html_url=businessIndex/businessIndex";
                    }
                    //管理员
                    if(data.datas.role == "3"){
                        window.location.href = "/public/util/jump?html_url=announcements/announcementsList&announcementFlag=account";
                    }
                },
            });
        });
    });

</script>

</body>
</html>
