<!--管理员页面导航栏-->
<div class="top-nav">
    <ul>
        <li>
            <a href="#" class="selected">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
                我的应用
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=announcements/announcementsList&announcementFlag=account">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
                全部公告
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=announcements/announcementsList&announcementFlag=account&announce=me">
                <div class="fs1" data-icon="&#xe0a9;"></div>
                我发布的
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=accountIndex/fabuAnnouncement">
                <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                我要发布
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=accountIndex/editRecruitInfo">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
                管理招聘信息
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=accountIndex/allScores">
                <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
                全部评价
            </a>
        </li>
    </ul>

    <div class="clearfix">
    </div>
</div>
