<!--商家页面导航栏-->
<div class="top-nav">
    <ul>
        <li>
            <a href="#" class="selected">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
                我的应用
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=businessIndex/deliveryMeIndex">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
                投递我的
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=businessIndex/businessIndex">
                <div class="fs1" data-icon="&#xe0a9;"></div>
                我发布的
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=businessIndex/fabuReciuit">
                <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                我要发布
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=businessIndex/scoreMeIndex">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
                评价我的
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=announcements/announcementsList&announcementFlag=business">
                <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
                全部公告
            </a>
        </li>
    </ul>

    <div class="clearfix">
    </div>
</div>
