<select class="selectpicker" onchange="selectApar()" id="selectSex">
    <option value="">不限</option>
    <option value="计算机/网络">计算机/网络</option>
    <option value="语言/文字/文职">语言/文字/文职</option>
    <option value="商业/销售/促销">商业/销售/促销</option>
    <option value="图形/影像/设计">图形/影像/设计</option>
    <option value="客服/场调查">客服/场调查</option>
    <option value="餐饮/服务/旅游">餐饮/服务/旅游</option>
    <option value="财务/法律/咨询">财务/法律/咨询</option>
    <option value="教育/培训/教练">教育/培训/教练</option>
    <option value="其他">其他</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex1">
    <option value="">计算机/网络</option>
    <option value="">不限</option>
    <option value="网页设计/制作/美工">网页设计/制作/美工</option>
    <option value="建站服务">建站服务</option>
    <option value="动画/多媒体制作">动画/多媒体制作</option>
    <option value="程序员">程序员</option>
    <option value="网站推广/营销">网站推广/营销</option>
    <option value="网络录入/发帖员">网络录入/发帖员</option>
    <option value="游戏测试/试玩/代练">游戏测试/试玩/代练</option>
    <option value="网站管理员/站长/版主">网站管理员/站长/版主</option>
    <option value="软件界面设计">软件界面设计</option>
    <option value="日薪技术员工">日薪技术员工</option>
    <option value="seo优化">seo优化</option>
    <option value="友情链接员">友情链接员</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex2">
    <option value="">语言/文字/文职</option>
    <option value="">不限</option>
    <option value="外文翻译">外文翻译</option>
    <option value="现场口译">现场口译</option>
    <option value="作家/撰稿人">作家/撰稿人</option>
    <option value="编辑/记者">编辑/记者</option>
    <option value="校队/排版">校队/排版</option>
    <option value="口语陪练">口语陪练</option>
    <option value="字幕翻译">字幕翻译</option>
    <option value="数据整理/资料录入">数据整理/资料录入</option>
    <option value="新闻(博客)写手">新闻(博客)写手</option>
    <option value="解说员">解说员</option>
    <option value="行政/文员">行政/文员</option>
    <option value="打字员">打字员</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex3">
    <option value="">不限</option>
    <option value="销售/业务员">销售/业务员</option>
    <option value="校园代理">校园代理</option>
    <option value="商务公关/文秘">商务公关/文秘</option>
    <option value="发单员/派发员">发单员/派发员</option>
    <option value="电话销售">电话销售</option>
    <option value="保险代理">保险代理</option>
    <option value="招生/招商代理">招生/招商代理</option>
    <option value="促销员/导购员">促销员/导购员</option>
    <option value="营业员超/便利店小时工">营业员超/便利店小时工</option>
    <option value="网络销售">网络销售</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex4">
    <option value="">不限</option>
    <option value="门童/迎宾">门童/迎宾</option>
    <option value="群众/临时演员">群众/临时演员</option>
    <option value="歌手">歌手</option>
    <option value="商演/路演">商演/路演</option>
    <option value="主持">主持</option>
    <option value="婚庆司仪/宴会司仪">婚庆司仪/宴会司仪</option>
    <option value="DJ/酒吧驻唱/领舞">DJ/酒吧驻唱/领舞</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex5">
    <option value="">不限</option>
    <option value="图像处理">图像处理</option>
    <option value="影像处理/影视处理">影像处理/影视处理</option>
    <option value="摄影摄像">摄影摄像</option>
    <option value="平面设计/logo设计/vi设计">平面设计/logo设计/vi设计</option>
    <option value="建筑装潢设计">建筑装潢设计</option>
    <option value="CAD设计">CAD设计</option>
    <option value="插图漫画">插图漫画</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex6">
    <option value="">不限</option>
    <option value="电话访问/回访">电话访问/回访</option>
    <option value="客户咨询热线">客户咨询热线</option>
    <option value="呼叫中心人员">呼叫中心人员</option>
    <option value="客服/电话客服">客服/电话客服</option>
    <option value="售后服务">售后服务</option>
    <option value="场调查员">场调查员</option>
    <option value="问卷调查">问卷调查</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex7">
    <option value="">不限</option>
    <option value="餐厅工作">餐厅工作</option>
    <option value="酒吧ktv">酒吧ktv</option>
    <option value="递送/快递员">递送/快递员</option>
    <option value="送餐小时工">送餐小时工</option>
    <option value="家政保洁">家政保洁</option>
    <option value="钟点工">钟点工</option>
    <option value="导游">导游</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex8">
    <option value="">不限</option>
    <option value="会计/审计">会计/审计</option>
    <option value="财务咨询">财务咨询</option>
    <option value="法律工作/资讯">法律工作/资讯</option>
    <option value="咨询员">咨询员</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex9">
    <option value="">不限</option>
    <option value="家教">家教</option>
    <option value="教师">教师</option>
    <option value="健身/舞蹈教练">健身/舞蹈教练</option>
    <option value="汽车陪练">汽车陪练</option>
    <option value="客户协调">客户协调</option>
    <option value="运动教练">运动教练</option>
</select>

<select class="selectpicker" onchange="selectApar()" id="selectSex10">
    <option value="">不限</option>
    <option value="其他工作">其他工作</option>
</select>
