<!--学生页面导航栏-->
<div class="top-nav">
    <ul>
        <li>
            <a href="#" class="selected">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
                我的应用
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=index/studentIndex">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
                找兼职
            </a>
        </li>
        <li>
            <a href="icons.html">
                <div class="fs1" data-icon="&#xe0a9;"></div>
                快速推荐
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=index/deliverinfo">
                <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                我的投递
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=index/scoreDetailInfo">
                <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>
                我的评价
            </a>
        </li>
        <li>
            <a href="/public/util/jump?html_url=announcements/announcementsList">
                <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
                全部公告
            </a>
        </li>
    </ul>
    <div class="clearfix">
    </div>
</div>
