<!--评价展示详细信息弹框-->
<div class="modal fade" id="scoreMeDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">评价详情</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="example-f" class="col-sm-1 control-label"><i class="text-red">&nbsp;</i>评分：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-1">
                        <div class="box-body" readonly>
                            <select id="example-f" name="rating" style="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <br><br><br>
                </div>
                <div class="form-group">
                    <label for="accountname" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>评价人：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="accountname" id="accountname" style="width:90%" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="scoreDescription" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>评价描述：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3 input-block-level">
                        <textarea class="form-control" name="scoreDescription" id="scoreDescription" rows="6" cols="9" style="width:90%" readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="createDate1" class="col-sm-3 control-label"><i class="text-red">&nbsp;</i>评价日期：&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="createDate1" id="createDate1" style="width:90%" readonly/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true" style="color: rgb(36, 218, 255); font-size: 13px;">确定</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../static/starJs/jquery.barrating.js"></script>
<script type="text/javascript" src="../../static/starJs/examples.js"></script>