<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
* Created by chenglu on 2019-3-25.
-->
<mapper namespace="com.example.kechengsheji.dao.DeliverinfoDao">
    <resultMap id="deliverinfo" type="com.example.kechengsheji.model.Deliverinfo">
        <id property="id" column="id"/>
        <result property="accountId" column="account_id"/>
        <result property="recruitId" column="recruit_id"/>
        <result property="deliverStatus" column="deliver_status"/>
        <result property="createdBy" column="created_by"/>
        <result property="createDate" column="create_date"/>
        <result property="lastUpdateBy" column="last_update_by"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="deliverinfoList" type="com.example.kechengsheji.model.DeliverinfoListParams">
        <id property="id" column="id"/>
        <result property="accountId" column="account_id"/>
        <result property="recruitId" column="recruit_id"/>
        <result property="deliverStatus" column="deliver_status"/>
        <result property="createdBy" column="created_by"/>
        <result property="createDate" column="create_date"/>
        <result property="lastUpdateBy" column="last_update_by"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="recruitinfoType" column="recruit_type"/>
    </resultMap>

    <sql id="columns">
            `id` ,`account_id` ,`recruit_id` ,`deliver_status` ,`created_by` ,`create_date` ,`last_update_by` ,`last_update_date`
    </sql>

    <insert id="insert">
        insert into `deliverinfo`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="accountId != null">
                `account_id`,
            </if>
            <if test="recruitId != null">
                `recruit_id`,
            </if>
            <if test="deliverStatus != null">
                `deliver_status`,
            </if>
            <if test="createdBy != null">
                `created_by`,
            </if>
            <if test="createDate != null">
                `create_date`,
            </if>
            <if test="lastUpdateBy != null">
                `last_update_by`,
            </if>
            <if test="lastUpdateDate != null">
                `last_update_date`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id} ,
            </if>
            <if test="accountId != null">
                #{accountId} ,
            </if>
            <if test="recruitId != null">
                #{recruitId} ,
            </if>
            <if test="deliverStatus != null">
                #{deliverStatus} ,
            </if>
            <if test="createdBy != null">
                #{createdBy} ,
            </if>
            <if test="createDate != null">
                #{createDate} ,
            </if>
            <if test="lastUpdateBy != null">
                #{lastUpdateBy} ,
            </if>
            <if test="lastUpdateDate != null">
                #{lastUpdateDate} ,
            </if>
        </trim>
    </insert>

    <delete id="delete">
        delete from `deliverinfo`
        <trim prefix="where " prefixOverrides="and ">
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="accountId != null">
                and `account_id` = #{accountId}
            </if>
            <if test="recruitId != null">
                and `recruit_id` = #{recruitId}
            </if>
            <if test="deliverStatus != null">
                and `deliver_status` = #{deliverStatus}
            </if>
            <if test="createdBy != null">
                and `created_by` = #{createdBy}
            </if>
            <if test="createDate != null">
                and `create_date` = #{createDate}
            </if>
            <if test="lastUpdateBy != null">
                and `last_update_by` = #{lastUpdateBy}
            </if>
            <if test="lastUpdateDate != null">
                and `last_update_date` = #{lastUpdateDate}
            </if>
        </trim>
    </delete>

    <delete id="deleteByIds">
        delete from `deliverinfo`
        where `id` in
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update `deliverinfo`
        <set>
            <if test="deliverStatus != null">
                `deliver_status` = #{deliverStatus},
            </if>
            <if test="createdBy != null">
                `created_by` = #{createdBy},
            </if>
            <if test="createDate != null">
                `create_date` = #{createDate},
            </if>
            <if test="lastUpdateBy != null">
                `last_update_by` = #{lastUpdateBy},
            </if>
            <if test="lastUpdateDate != null">
                `last_update_date` = #{lastUpdateDate},
            </if>
        </set>
        where `account_id` = #{accountId} and `recruit_id` = #{recruitId}
    </update>

    <select id="getById" resultMap="deliverinfo">
        select
        <include refid="columns" />
        from `deliverinfo`
        where `id` = #{id}
    </select>

    <!--查询当前用户要投递的职位已经招聘人数-->
    <select id="selectHasDelivery"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM deliverinfo
        where recruit_id = #{recruitId} and deliver_status = 2
    </select>

    <!--查询该用户是否已经投递该职位-->
    <select id="selectIsHasDelivery"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM deliverinfo
        where recruit_id = #{recruitId} and account_id = #{accountId}
    </select>

    <!--<select id="list" resultMap="deliverinfo">-->
    <!--select-->
    <!--<include refid="columns" />-->
    <!--from `deliverinfo`-->
    <!--<trim prefix="where " prefixOverrides="and ">-->
    <!--<if test="id != null">-->
    <!--and `id` = #{id}-->
    <!--</if>-->
    <!--<if test="accountId != null">-->
    <!--and `account_id` = #{accountId}-->
    <!--</if>-->
    <!--<if test="recruitId != null">-->
    <!--and `recruit_id` = #{recruitId}-->
    <!--</if>-->
    <!--<if test="deliverStatus != null">-->
    <!--and `deliver_status` = #{deliverStatus}-->
    <!--</if>-->
    <!--<if test="createdBy != null">-->
    <!--and `created_by` = #{createdBy}-->
    <!--</if>-->
    <!--<if test="createDate != null">-->
    <!--and `create_date` = #{createDate}-->
    <!--</if>-->
    <!--<if test="lastUpdateBy != null">-->
    <!--and `last_update_by` = #{lastUpdateBy}-->
    <!--</if>-->
    <!--<if test="lastUpdateDate != null">-->
    <!--and `last_update_date` = #{lastUpdateDate}-->
    <!--</if>-->
    <!--</trim>-->
    <!--</select>-->

    <select id="list" resultMap="deliverinfoList">
        select deliverinfo.*,recruitinfo.id as rcruitinfoId,recruitinfo.recruit_type from deliverinfo,recruitinfo
        where recruitinfo.id = deliverinfo.recruit_id
        <if test="accountId != null">
            and deliverinfo.account_id = #{accountId}
        </if>
    </select>
</mapper>